<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="gometro-uma-cordova" version="1.1.5">
    <name>GoMetro UMA</name>
    <author>GoMetro</author>
    <description>Official GoMetro UMA SDK for Cordova</description>
    <license>MIT</license>
    <keywords>ecosystem:cordova,cordova-android,android,gometro-uma</keywords>
    <repo>https://github.com/gometro/gometro-uma-cordova.git</repo>
    <issue>https://github.com/gometro/gometro-uma-cordova/issues</issue>

    <engines>
        <engine name="cordova" version=">=7.0.0"/>
        <engine name="cordova-android" version=">=4.0.0"/>
    </engines>

    <js-module src="src/index.js" name="GoMetroUma">
        <clobbers target="GoMetroUma"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GoMetroUma">
                <param name="android-package" value="com.gometroapp.uma.GoMetroUmaCordova"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <source-file src="platforms/android/src/main/java/com/gometroapp/uma/GoMetroUmaCordova.java"
                     target-dir="src/com/gometroapp/uma/"/>

        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>
    </platform>

</plugin>
